@tailwind base;
@tailwind components;
@tailwind utilities;




.slick-dots li {
  width: 10px !important;
  height: 10px !important;
}

.slick-active {
  border-radius: 50%;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  